# Docker .env
.env*
.*env

# Internal TODO document
TODO.md

# Secrets (files only, with extensions)

# explicitly include the template
!docs/secrets.yml.template

# Terraform
.terraform*
*.tfstate*


