---
# source: https://docs.docker.com/engine/install/ubuntu/
- name: Uninstall any existing packages
  become: true
  apt:
    name:
      - docker.io
      - docker-compose
      - docker-compose-v2
      - docker-doc
      - podman-docker
    state: absent

- name: Install dependencies
  become: true
  apt:
    name:
      - curl
      - ca-certificates

# We can leverage very long list of functions that apt built-in offers.

# this is equivalent of curling the gpg and moving it to the keyring dir
- name: Add Docker GPG key
  become: true
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

# ansible_disribution_release return the release version
# https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/apt_repository_module.html
# `[singed-by=]` this is part of apt syntax, tells it to only trust this key
# the `ansible_facts['distribution_release']` is the new way of using ansible facts (got it from deprecation warning)
- name: Add Docker repository
  become: true
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_facts['distribution_release'] }} stable"
    filename: docker
    state: present

- name: Update apt cache
  become: true
  apt:
    update_cache: true
  changed_when: false

- name: Install docker
  become: true
  apt:
    name: #  sudo apt install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Add user to docker group
  become: true
  user:
    name: "{{ vault_vps_ssh_user }}"
    groups: docker
    append: true
