#!/usr/bin/env bash

set -eu # exit on error and on undefined variables



export RESTIC_REPOSITORY='s3:https://{{ restic_aws_endpoint }}/{{ restic_aws_bucket }}'
export RESTIC_PASSWORD='{{ vault_restic_password }}'
export AWS_ACCESS_KEY_ID='{{ vault_restic_aws_access_key_id }}'
export AWS_SECRET_ACCESS_KEY='{{ vault_restic_aws_secret_access_key }}'

# restic settings
KEEP_LAST={{ restic_keep_last }}
KEEP_HOURLY={{ restic_keep_hourly }}
KEEP_DAILY={{ restic_keep_daily }}
KEEP_WEEKLY={{ restic_keep_weekly }}
KEEP_MONTHLY={{ restic_keep_monthly }}
KEEP_YEARLY={{ restic_keep_yearly }}

# backup (skip-if-unchanged, creates not snapshot if source was not modified)
restic backup {{ restic_backup_path }} --skip-if-unchanged

# snapshot removal
restic forget --keep-last {{ restic_keep_last }} \
    --keep-hourly {{ restic_keep_hourly }} \
    --keep-daily {{ restic_keep_daily }} \
    --keep-weekly {{ restic_keep_weekly }} \
    --keep-monthly {{ restic_keep_monthly }} \
    --keep-yearly {{ restic_keep_yearly }} \
    --prune
    