# Traefik is a rproxy for the whole docker engine
# All traffic comes through it

# Traefik configuration is done via commands
# Required environment variables:
#   - VPS_DOMAIN - custom or from cloud provider
#   - TRAEFIK_DASHBOARD_HASH - htpasswd hash (with escape characters for yaml)
#   - ACME_EMAIL - email for Let's Encrypt
name: traefik
services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    networks:
      - proxy
      - monitoring # the "traefik" entrypoint at 8082 will be reachable to any container on "monitoring" network
    security_opt:
      - no-new-privileges:true
    ports:
      # explicitly bind to all host interfaces
      - "0.0.0.0:80:80" # http->https redirect
      - "0.0.0.0:443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # traefik docker discovery
      - letsencrypt:/letsencrypt # to preserve generated certs
      - config:/etc/traefik:ro
    # Variables used below with ${} are subsituted by docker-compose based on .env file
    # No need to map them as env vars
    command:
    # static configuration moved to external file bind mounted

    labels:
      # Dashboard router
      # api@internal means a service internal to traefik container called api
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${VPS_DOMAIN}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=myresolver"

      # Basic-auth middleware
      # The @docker specifies where the middleware is defined (here with docker labels)
      # DO NOT ADD THE ESCAPE $ TO THE HASH! docker-compose does it automatically :)
      - "traefik.http.middlewares.dashboard-auth.basicauth.users=${TRAEFIK_DASHBOARD_HASH}"
      - "traefik.http.routers.dashboard.middlewares=dashboard-auth@docker"

  whoami:
    image: nginx:1.28-alpine
    container_name: alpine
    restart: unless-stopped
    networks:
      - proxy
    labels: # the old subdomain stays for alpine
      - "traefik.enable=true" # include in traefik discovery
      - "traefik.http.routers.whoami.rule=Host(`whoami.${VPS_DOMAIN}`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certresolver=myresolver"

  config-loader:
    image: alpine
    volumes:
      - config:/config
      - /etc/srv/traefik/:/source/:ro
    command:
      [
        "sh",
        "-c",
        "rm -rf /config/* && cp -r /source/* /config/ && chmod -R a+rX /config/",
      ]
  # NOTE: This is a workaround for unpredictable ownership patterns inside containers
  # Bind mounts use 1:1 mapping of ownership and permissions, so that would
  # require to check every image to see what UID:GID is required.
  # This solves the issues by making the files readable and directories
  # readable and executable for all.
networks:
  proxy:
    name: proxy
  monitoring:
    external: true

# volume name will be <project>_name, so `traefik_letsencrypt` will be `vps_letsencrypt`
volumes:
  config:
  letsencrypt:
