name: Lint Docker Compose

on:
  push:
    branches:
      - main
    paths:
      - "docker/**" # only trigger if there where any changes to docker files
  workflow_dispatch:
jobs:
  dclint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker-compose-linter/dclint-github-action@v1.6.0
        with:
          path: ./docker/
          recursive: true
