name: Deploy to EC2

on:
  workflow_dispatch:
    inputs:
      action:
        description: Action to perform
        required: true
        type: choice
        default: deploy
        options: [deploy,  remove]


concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false # that is the default, but left for clarity

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
        SSH_PORT: 22
        SSH_USER: ubuntu
        TARGET_HOST: bungux.click
        SSH_KEY_B64: ${{ secrets.SSH_KEY_EC2 }}
        SSH_KEY_PATH: ""
        # adjust below there
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rsync
        run: apt update && apt install -y rsync

      - name: Install envsubst
        run: |
          curl -L https://github.com/a8m/envsubst/releases/download/v1.2.0/envsubst-`uname -s`-`uname -m` -o envsubst
          chmod +x envsubst
          sudo mv envsubst /usr/local/bin

      - name: Install SOPS
        run: |
          curl -LsS https://github.com/getsops/sops/releases/download/v3.9.4/sops_3.9.4_amd64.deb \
            -o /tmp/sops.deb
          sudo dpkg -i /tmp/sops.deb
          sops --version

      - name: SSH setup
        run: |
          set -x
          mkdir -p ~/.ssh
          printf '%s' "$SSH_KEY_B64" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          echo "SSH_KEY_PATH=~/.ssh/id_ed25519" >> $GITHUB_ENV
          ssh-keyscan -p "$SSH_PORT" -H "$TARGET_HOST" >> ~/.ssh/known_hosts
          ssh -p "$SSH_PORT" -o BatchMode=yes $SSH_USER@$TARGET_HOST true
        
      - name: Test docker connection
        run: |
          ssh -p $SSH_PORT $SSH_USER@$TARGET_HOST "docker ps"

      - name: Decrypt config secrets
        id: decrypt_config_secrets
        uses: ./.github/actions/sops-decrypt/
        with:
          input_file: "configs/secrets.enc.env"
          output_file: "secrets.env"
          age_key: ${{ secrets.SOPS_SECRET_KEY }}

      - name: Export config secrets to env vars for envsubst
        run: cat ${{ steps.decrypt_config_secrets.outputs.output_file }} >> $GITHUB_ENV

      # TODO: consider moving it to a composite action
      - name: Template config files to "tmp/"
        run: |
          ./scripts/deployment/template.sh

      - name: Copy the templated files to remote host
        run: |
          set -x
          rsync -a --delete \
            --rsync-path="sudo rsync" \
            --chown=1000:1000 \
            --chmod=Du=rwx,Dg=rx,Do=,Fu=rw,Fg=r,Fo= \
            -e "ssh -p ${SSH_PORT} -i ${SSH_KEY_PATH}" \
            ./tmp/ "${SSH_USER}@${TARGET_HOST}:/etc/srv/"
      
        # TODO: Watch the changes of the config files, if new ones where updated, then restart the containers on deployment to read new configs
      - name: Decrypt Docker Compose .env file
        uses: ./.github/actions/sops-decrypt/
        id: decrypt_docker_compose_env
        with:
          input_file: "docker/docker-compose.enc.env"
          output_file: "docker/docker-compose.env"
          age_key: ${{ secrets.SOPS_SECRET_KEY }}


      - name: Debug Docker context
        run: |
            set -x
            docker context ls
            cat ~/.docker/config.json || true
            cd docker 
            docker context ls
    


      - name: Deploy via docker compose
        if: ${{ inputs.action == 'deploy' }}
        env:
          VPS_DOMAIN: ${{ env.TARGET_HOST  }}
          DOCKER_HOST: "ssh://${{ env.SSH_USER }}@${{ env.TARGET_HOST }}:${{ env.SSH_PORT }}"
          DC_ACTION: "up -d"
          COMPOSE_ENV_FILES: ${{ steps.decrypt_docker_compose_env.outputs.output_file }}
          DOCKER_CONTEXT: default
        run: ./scripts/deployment/deploy.sh

      - name: Compose down
        if: ${{ inputs.action == 'remove' }}
        env:
          DOCKER_HOST: "ssh://${{ env.SSH_USER }}@${{ env.TARGET_HOST }}:${{ env.SSH_PORT }}"
          DC_ACTION: "down"
          COMPOSE_ENV_FILES: ${{ steps.decrypt_docker_compose_env.outputs.output_file }}
          DOCKER_CONTEXT: default
        run: ./scripts/deployment/deploy.sh
