# Workflow for automatic deployment to VPS
# It has to be triggered manually for safety, uses 3 options: deploy, roll-back and remove

# TODO: rollback and remove actions have to be adjusted to new
# deploy script structure
name: Deployment

on:
  workflow_dispatch:
    inputs:
      action:
        description: Action to perform
        required: true
        type: choice
        default: deploy
        options: [deploy, roll-back, remove]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false # that is the default, but left for clarity

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        with:
          fetch-depth: 2 # setup for roll-back
        uses: actions/checkout@v5

      - name: Install rsync
        run: apt update && apt install -y rsync

      - name: Install envsubst
        run: |
          curl -L https://github.com/a8m/envsubst/releases/download/v1.2.0/envsubst-`uname -s`-`uname -m` -o envsubst
          chmod +x envsubst
          sudo mv envsubst /usr/local/bin

      - name: Install SOPS
        run: |
          curl -LsS https://github.com/getsops/sops/releases/download/v3.9.4/sops_3.9.4_amd64.deb \
            -o /tmp/sops.deb
          sudo dpkg -i /tmp/sops.deb
          sops --version

      - name: SSH setup
        run: |
          mkdir -p ~/.ssh
          printf '%s' "${{ secrets.SSH_KEY_VPS}}" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p "${{ secrets.VPS_PORT }}" -H "${{ secrets.VPS_DOMAIN }}" >> ~/.ssh/known_hosts
          ssh -p "${{ secrets.VPS_PORT }}" -o BatchMode=yes ${{ secrets.VPS_USER }}@${{ secrets.VPS_DOMAIN }} true

      - name: Decrypt config secrets
        id: decrypt_config_secrets
        uses: ./.github/actions/sops-decrypt/
        with:
          input_file: "configs/secrets.enc.env"
          output_file: "secrets.env"
          age_key: ${{ secrets.SOPS_SECRET_KEY }}

      - name: Export config secrets to env vars for envsubst
        run: cat ${{ steps.decrypt_config_secrets.outputs.output_file }} >> $GITHUB_ENV

      # TODO: consider moving it to a composite action
      - name: Template config files to `tmp/`
        run: |
          ./scripts/deployment/template.sh

      - name: Copy the templated files to remote host`
        run: |
          rsync -a --delete \
            --rsync-path="sudo rsync" \
            --chown=1000:1000 \
            --chmod=Du=rwx,Dg=rx,Do=,Fu=rw,Fg=r,Fo= \
            -e "ssh -p ${{ secrets.VPS_PORT }}" \
            ./tmp/ ${{ secrets.VPS_USER }}@${{ secrets.VPS_DOMAIN }}:/etc/srv/
      # TODO: Watch the changes of the config files, if new ones where updated, then restart the containers on deployment to read new configs
      - name: Decrypt Docker Compose .env file
        uses: ./.github/actions/sops-decrypt/
        id: decrypt_docker_compose_env
        with:
          input_file: "docker/docker-compose.enc.env"
          output_file: "docker/docker-compose.env"
          age_key: ${{ secrets.SOPS_SECRET_KEY }}

      - name: Deploy via docker compose
        if: ${{ inputs.action == 'deploy' }}
        env:
          DOCKER_HOST: ssh://${{ secrets.VPS_USER }}@${{ secrets.VPS_DOMAIN }}:${{ secrets.VPS_PORT }}
          DC_ACTION: "up -d --remove-orphans " # --force-recreate will restart all containers, not only changed ones
          COMPOSE_ENV_FILES: ${{ steps.decrypt_docker_compose_env.outputs.output_file }}
        run: ./scripts/deployment/deploy.sh

      - name: Compose down
        if: ${{ inputs.action == 'remove' }}
        env:
          DOCKER_HOST: ssh://${{ secrets.VPS_USER }}@${{ secrets.VPS_DOMAIN }}:${{ secrets.VPS_PORT }}
          DC_ACTION: "down"
          COMPOSE_ENV_FILES: ${{ steps.decrypt_docker_compose_env.outputs.output_file }}
        run: ./scripts/deployment/deploy.sh
