# Workflow for automatic deployment to VPS
# It has to be triggered manually for safety, uses 3 options: deploy, roll-back and remove

name: deployment

on:
  workflow_dispatch:
    inputs:
      action:
        description: Action to perform
        required: true
        type: choice
        default: deploy
        options: [deploy, roll-back, remove]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      # setup the connection for docker client
      DOCKER_HOST: ssh://${{ secrets.VPS_USER }}@${{ secrets.VPS_DOMAIN }}:${{ secrets.VPS_PORT }}
    steps:
      - name: Checkout
        with:
          fetch-depth: 2 # setup for roll-back
        uses: actions/checkout@v5

      - name: SSH setup
        run: |
          mkdir -p ~/.ssh
          printf '%s\n' "${{ secrets.SSH_KEY_VPS }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p "${{ secrets.VPS_PORT }}" -H "${{ secrets.VPS_DOMAIN }}" >> ~/.ssh/known_hosts

        # TODO: could be improved with tags or even artifact that contains a specifc SHA,
        # but for now I think it's more important to just finish one implementation, not constantly improve
      - name: Roll back
        if: ${{ inputs.action == 'roll-back' }}
        run: |
          git checkout HEAD^

      - name: Move secrets from GHA to .env
        # this is safest way to handle special characters from .env file, especially $.
        # otherwise I have to remeber to always escape any string with `$` in it
        # docker compose does not respect single quotes and expands every literal
        run: printf '%s\n' '${{ secrets.DC_ENV_FILE }}' | base64 -d > docker/.env

      - name: Deploy
        if: ${{ inputs.action == 'deploy' }}
        run: ./scripts/deployment/deploy.sh

        # ther are no NOT or OR functions in GHA
        # this could be combined with Deploy step
      - name: Roll back
        if: ${{ inputs.action == 'roll-back' }}
        run: ./scripts/deployment/deploy.sh

      - name: Remove
        if: ${{ inputs.action == 'remove' }}
        run: ./scripts/deployment/remove.sh

      # added security, although runners don't persist data
      - name: Clean up
        run: rm -f docker/.env
