name: Terraform

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Action to perform"
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest
    # every run is made from the terraform dir
    defaults:
      run:
        working-directory: terraform
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: inputs.action == 'plan'
        run: terraform plan -var 'vps_domain=${{ secrets.VPS_DOMAIN_SECONDARY }}' # the primary is managed externally

      - name: Terraform Apply
        if: inputs.action == 'apply'
        run: terraform apply -auto-approve -var 'vps_domain=${{ secrets.VPS_DOMAIN_SECONDARY }}'

      - name: Terraform Destroy
        if: inputs.action == 'destroy'
        run: terraform destroy -auto-approve -var 'vps_domain=${{ secrets.VPS_DOMAIN_SECONDARY }}'
