name: Terraform
# This is part of the showcase feature, like specified in docs/adr/004-limiting-terraform-to-showcase.md

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Action to perform"
        required: true
        type: choice
        options:
          - apply
          - destroy
  workflow_call: # the types are limited: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#onworkflow_callinputs
    inputs:
      action:
        required: true
        type: string 

jobs:
  terraform:
    runs-on: ubuntu-latest
    concurrency:
      group: terraform
      cancel-in-progress: false
    defaults:
      run:
        working-directory: terraform
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_vps_domain: ${{ secrets.VPS_DOMAIN_SECONDARY }} # it's a nice feature to add variables as env vars by prefixing with TF_VAR_
    steps:
      - uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Upload Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-${{ github.run_id }}
          path: terraform/plan.txt

      - name: Terraform Apply
        if: inputs.action == 'apply'
        run: terraform apply tfplan

      - name: Terraform Destroy
        if: inputs.action == 'destroy'
        run: terraform destroy -auto-approve

      # This is needed so ansible can resolve the domain name for the SSH connection
      # NOTE: this could be solved with passing the provisioned EIP to the ansible playbook
      # but since I have a stable domain name, this is not needed.
      - name: Wait for DNS propagation
        if: inputs.action == 'apply'
        run: |
          echo "waiting for DNS"
          for i in {1..30}; do
            if dig +short "${{ secrets.VPS_DOMAIN_SECONDARY }}" | grep -q .; then
              echo "DNS resolved successfully"
              dig +short "${{ secrets.VPS_DOMAIN_SECONDARY }}"
              exit 0 # exits the step
            fi
            echo "Attempt $i/30 - waiting 10s..."
            sleep 10
          done
          echo "DNS propagation timed out after 5 minutes"
          exit 1
