# easingthemes/ssh-deploy uses node.js to wrap ssh+rsync, but I want to test out manual setup
# to test my skills and understanding

# https://github.com/marketplace/actions/rsync-deployments-action

# Secrets:
#   SSH_KEY_VPS - private key for VPS
#   VPS_DOMAIN - domain of VPS
#   VPS_PORT - port for SSH
#   VPS_USER - user for SSH
#   VPS_DEPLOYMENT_PATH - path to sync

# TODO: consider to change the deployment path to `/srv/deployment/` for now the `/home/` does not seem wrong

name: Sync to VPS

on:
  push:
    branches:
      - main
      - feature/*

# no need for concurenncy, the sync should finish first

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup SSH key
        # copy key value to file, set permissions (no execute)
        # fetch public key from VPS to build known hosts without interactive prompt
        run: |
          mkdir -p ~/.ssh
          printf '%s\n' "${{ secrets.SSH_KEY_VPS }}" > ~/.ssh/id_ed25519 
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p ${{ secrets.VPS_PORT }} -H ${{ secrets.VPS_DOMAIN }} >> ~/.ssh/known_hosts
      - name: Sync with rsync
        # rsync with custom terminal (SSH port + key). Used verbose options for better understanding
        run: |
          set -euo pipefail # failsafe
          set -x # print commands
          rsync \
          --archive \
          --compress \
          --delete \
          --exclude=".git" \
          --exclude=".github" \
          --exclude=".gitingore" \
          -e "ssh -p ${{ secrets.VPS_PORT }} -i ~/.ssh/id_ed25519" \
          ./ ${{ secrets.VPS_USER }}@${{ secrets.VPS_DOMAIN }}:/home/${{ secrets.VPS_USER }}/${{ secrets.VPS_DEPLOYMENT_PATH }}

# About exclude: the files are copied from the github repo, that already should not contain any files specified in .gitingore
# the only exclusions are for git and github itself. However if the VPS creates any files in the same dir, the --delete option
# will try to delete them. This can cause problems, best-case: rsync error (no permissions), worst case: deleting an important file
# To prevent this I am disabling the `--delete` option for now, since the hygiene of github repo itslef should prevent the issue.

# Docker compose can only create volumes, but with named volumes they should end up in host `/var/lib/docker/volumes/`,
# not in the deployment dir
